@import "components/reset";
@import "components/header";

section {
  height: 20vh;
  background: crimson;
}

article {
  height: 10vh;
  background: teal;
}

footer {
  height: 100vh;
  background: cyan;
}
