header {
  height: 50vh;
  background: skyblue;
}

section {
  height: 20vh;
  background: crimson;
}

article {
  height: 10vh;
  background: teal;
}

footer {
  height: 100vh;
  background: cyan;
}
